mat-toolbar{
    background-color: #7E57C2 !important;
    color: #ffff;
    letter-spacing: 1PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 a{
    text-transform:uppercase;
    color: rgb(0, 0, 0) !important;
    font-size: 14px !important;
    margin-left: 10px;
    font-weight:400;
    letter-spacing: 1px;
    text-decoration: none;
}