
mat-toolbar{
    background-color: #7E57C2 !important;
    color: #ffff;
    letter-spacing: 1PX;
}

mat-form-field{
    width:100% !important;
    outline: none !important;
}
input{
    outline: none !important;
}
h2{
    letter-spacing: 2px;
}
.add{
    background-color: #7E57C2 !important;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.black{
    background-color: #020202 !important;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.white{
    background-color: #d1d1d1 !important;
    color: #020202 !important;
}
.btngroup button{
    margin-left: 15px;
    letter-spacing: 1px;
}
h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.upload{
    background-color: #7E57C2 !important;
    color: #ffff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.upload-file{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 25vh;
   
   
   
}

.btn-1 button{
    margin-left: 15px;
}
.outerDivFull { margin:50px; } 

.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 70px; max-width: 70px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {  background-color: #7E57C2; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: 'No'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Yes'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 10px 0 10px 0; }


h4{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 5px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 5% 6%;
  }
  
 
  
  .hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 160px !important;
    width: 160px !important;
    border: 5px solid #000;
    border-radius: 5% 6%;
    margin: 10px;
  }
  
  .hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 5% 6%;
    z-index: 1;
  }
  
  .hoverable:hover .hover-text {
    display: block;
  }
  
  .hoverable:hover .background {
    display: block;
  }
  


  iframe {
    width: 150px !important;
    height: 150px !important;
    object-fit: contain !important;
  }

  /* pdf-upload-viewer.component.css */
.pdf-upload {
    margin-bottom: 20px;
  }
  
  .pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // iframe {
  //   margin: 10px 0;
  //   width: 100%;
  //   height: 500px;
  //   border: none;
  // }